---
import Socials from "./Socials.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<footer>
    <div class="footer-inner">
    <Socials platform="twitter" username="astrodotbuild" />
    <Socials platform="github" username="martinbregnhoi" />
    <Socials platform="youtube" username="@martinatkea" />
    </div>
</footer>
